@mixin no-list-style() {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin multiline-elipsis($rows: 1) {
  display: -webkit-box;
  -webkit-line-clamp: $rows;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin no-image() {
  background-image: sassvg('no-image');
  background-color: $color-background-secondary;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

@mixin book-image($height: base(30)) {
  width: 100%;
  height: $height;
  border-radius: 6px;
  overflow: hidden;
  transition: background-color .25s;
  @include no-image();

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform .25s;
  }
}

@mixin display-flex() {
  display: flex;
  flex-direction: column;
}

@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}