.book-details {
  @include heading-style(h4);
  line-height: 20px;
  font-weight: normal;
  display: grid;
  grid-template-columns: minmax(base(13), base(33)) auto base(28.125);
  grid-template-rows: auto auto;
  grid-column-gap: base(5);

  &__left-pannel {
    grid-row: 1 / span 2;

    @media screen and (max-width: 1285px){
      grid-row: 1;
    }
  }

  &__image {
    display: flex;
    @include book-image(auto)
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &--secondary {
      grid-row: 2;
      grid-column: 2;

      @media screen and (max-width: 1285px){
        grid-column: 1 / span 2;
      }
    }

    hr {
      width: 100%;
      border: none;
      margin: base(3) 0;
      border-bottom: solid 1px $color-border;
    }
  }

  &__description {
    color: $color-text-secondary;
    margin-top: base(2);
  }

  &__title {
    @include heading-style(h1)
  }

  &__grid {
    display: grid;
    grid-template-columns: 33.33% 66.67%;
    grid-column-gap: base(2);
    grid-row-gap: base();
    margin: base(4) 0;
  }

  &__detail {
    font-weight: $font-weight-default;
  }

  &__side-panel {
    grid-row: 1 / span 2;
  }
}