.book-grid {
  display: grid;
  grid-column: auto;
  justify-items: stretch;
  justify-content: space-between;
  grid-column-gap: base(3);
  grid-row-gap: base(6);
  grid-template-columns: repeat(auto-fill, base(21));

  &__header {
    grid-row: 1;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;

    &-filters {
      display: flex;
      flex-direction: row;
    }

    &-sorter {
      margin-left: auto;
    }
  }
}

.book {
  $this: &;
  display: flex;
  flex-direction: column;

  &:hover {
    #{$this}__title {
      color: $color-blue;
    }

    #{$this}__image {
      border: solid 1px $color-blue;
      background-color: $color-background-selected;
      margin: -1px;

      img {
        transform: scale(1.05);
      }

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: base(30);
      border-radius: 6px;
      overflow: hidden;
      color: white;
      line-height: initial;
    }
  }

  &__image {
    @include book-image()
  }

  &__title {
    @include heading-style(h3);
    @include multiline-elipsis(2);
    min-height: base(6);
  }

  &__author {
    @include heading-style(h5);
    color: $color-text-secondary;
    text-decoration: underline;
  }

  &__add {
    @include heading-style(h3);
    background-color: $color-blue;
    height: base(22);
    border-radius: 6px;
    color: $color-white;
    justify-content: center;
    align-items: center;
    padding: base(4);
    text-align: center;
    cursor: pointer;
    transition: color,background-color .25s;

    &:hover {
      color: $color-blue;
      background-color: $color-background-selected;
      border: solid 1px $color-blue;
      margin: -1px
    }

    > span:first-child {
      font-size: base(8);
      line-height: base(8);
      font-weight: 300;
    }
  }
}