.btn {
  $this: &;
  $btn-icons: 'dashboard', 'library', 'wishlist', 'history', 'thumb_up', 'check_circle', 'help', 'logout', 'star', 'edit', 'settings', 'send', 'delete';

  font-weight: bold;
  cursor: pointer;
  height: base(5);
  border-radius: 4px;
  min-width: base(10);
  display: flex;
  width: fit-content;
  justify-content: center;
  padding: 0 base(2);
  align-items: center;
  transition: border-color .25s, color .25s, background-color .25s;
  margin: 0;

  background-color: $color-blue;
  color: $color-white;

  &:disabled {
    background-color: $color-background-secondary;
    color: $color-text-secondary;
    border: solid 1px $color-border;
    margin: 0 -1px;
    cursor: not-allowed;

    #{$this}__icon {
      background-color: $color-text-secondary;
    }
  }

  &:hover:enabled,:active:enabled {
    border: solid 1px $color-blue;
    padding: 0 base(2) - 1;
    background-color: $color-background-selected;
    color: $color-blue;

    #{$this}__icon {
      background-color: $color-blue;
    }
  }

  &:active:enabled {
    border-color: $color-text;
    color: $color-text;

    #{$this}__icon {
      background-color: $color-text;
    }
  }

  & > :first-child {
    margin-right: base();
  }

  &__dark {
    background-color: $color-text;
  }

  &__secondary {

    &:hover,:active {
      background-color: transparent;
    }

    background: $color-background-secondary;
    color: $color-text;

    #{$this}__icon {
      background-color: $color-text;
    }

    &--action {
      background: $color-background-button;
    }
  }

  &__clear {
    &:hover,:active {
      background-color: transparent;
    }

    background-color: transparent;
    border: solid 1px $color_border;
    color: $color-text;
  }

  &__link {
    &:hover:enabled,:active:enabled {
      background-color: transparent;
      text-decoration: underline;
      border: none;
    }

    &:disabled {
      border: none;
      background-color: transparent;
    }

    background-color: transparent;
    border: none;
    color: $color-blue;

    &#{&} {
      font-weight: $font-weight-bold;
      padding: 0;

      &:hover:enabled,:active:enabled {
        padding: 0;
      }
    }
  }

  &__danger {
    &:hover:enabled,:active:enabled {
      color: $color-red;
      border-color: $color-red;
      background-color: $color-background-red;
    }
  }

  &__round {
    border-radius: base(5);
  }

  &__heavy {
    font-weight: $font-weight-bold;
    font-style: base(2);
    color: $color-text;

    #{$this}__icon {
      background-color: $color-text;
    }
  }

  &__small {
    height: base(4);

    #{$this}__square {
      max-width: base(4);
      min-width: base(4);
      width: base(4);
    }
  }

  &__mini {
    height: base(3.5);
    font-weight: normal;

    padding: 0 base();

    &:hover:enabled,:active:enabled {
      padding: 0 base() - 1;
    }

    #{$this}__square {
      max-width: base(3.5);
      min-width: base(3.5);
      width: base(3.5);
    }
  }

  &__square {
    max-width: base(5);
    min-width: base(5);
    width: base(5);

    & > :first-child {
      margin-right: 0;
    }

    padding: 0;
    &:hover:enabled,:active:enabled {
      padding: 0;
    }
  }

  &__wide {
    width: 100%;
  }

  &__icon {
    min-width: 16px;
    max-width: 16px;
    min-height: 16px;
    max-height: 16px;

    mask-position: 50% 50%;
    background-color: $color-white;

    transition: background-color .25s;

    @each $icon in $btn-icons {
      &--#{$icon} {
        mask-image: sassvg($icon);
      }
    }
  }
}
