.cantFind {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    &-text{
        margin-top: 20px;
        padding-bottom: 10px;
        font-size: 15px;
    }
    &-buttons {
        padding-top: 48px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        &-submit {
            background-color: #4568FB;
            border-radius: 3px;
            color: white;
            margin-left: 15px;
            width: 120px;
        }
    }
}