.cantFind {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    &-text{
        margin-top: 20px;
        padding-bottom: 10px;
        font-size: 15px;
        color: $color-text-secondary;
        font-weight: 300;
    }

    &-buttons {
        padding-top: 48px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        & > *:first-child {
            margin-right: base();
        }
    }
}