.dashboard {
    display: grid;
    grid-template-columns: auto base(37);
    grid-column-gap: base(10);
    grid-row-gap: base(10);
    width: 100%;

    &__sidebar {
        grid-row: span 2;
        grid-column: 2;
    }
}