.filter-modal {

    &__body {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 100%;
        overflow: hidden;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        height: 80%;
        overflow: hidden;
    }

    &__categories, &__options, &__active {
        display: flex;
        flex-direction: column;
        width: 33%;
        height: 100%;
        overflow: auto;
    }

    &__buttons {
        display: flex;
        flex-direction: row;

        :first-child {
            margin-left: auto;
        }
    }

}