.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #050237;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    margin: 0 0 8px;
    display: flex;
    flex-direction: column;
    width: 100%; }
    .navigation__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      padding: 0 16px;
      min-height: 44px; }
      .navigation__item:hover, .navigation__item.active {
        background: #EBEEF7;
        color: #4568FB;
        box-shadow: inset -2px 0px 0px #4568FB; }
        .navigation__item:hover .navigation__item-icon, .navigation__item.active .navigation__item-icon {
          background-color: #4568FB; }
      .navigation__item.active {
        cursor: unset; }
        .navigation__item.active + .navigation__item-content {
          display: flex; }
    .navigation__item-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      min-height: 44px; }
    .navigation__item-content {
      list-style: none;
      padding: 0;
      margin: 0;
      display: none;
      flex-direction: column;
      padding: 16px 0; }
    .navigation__item-icon {
      margin-right: 16px;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: #050237; }
      .navigation__item-icon--dashboard {
        mask-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22%22%3E%20%3Cpath%20d%3D%22M2.5%2010.8333H9.16667V2.5H2.5V10.8333ZM2.5%2017.5H9.16667V12.5H2.5V17.5ZM10.8333%2017.5H17.5V9.16667H10.8333V17.5ZM10.8333%202.5V7.5H17.5V2.5H10.8333Z%22%20fill%3D%22rgb%280%2C0%2C0%29%22%2F%3E%20%3C%2Fsvg%3E);
        -webkit-mask-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22%22%3E%20%3Cpath%20d%3D%22M2.5%2010.8333H9.16667V2.5H2.5V10.8333ZM2.5%2017.5H9.16667V12.5H2.5V17.5ZM10.8333%2017.5H17.5V9.16667H10.8333V17.5ZM10.8333%202.5V7.5H17.5V2.5H10.8333Z%22%20fill%3D%22rgb%280%2C0%2C0%29%22%2F%3E%20%3C%2Fsvg%3E); }
      .navigation__item-icon--library {
        mask-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22%22%3E%20%3Cpath%20d%3D%22M15.0002%201.66675H5.00016C4.0835%201.66675%203.3335%202.41675%203.3335%203.33341V16.6667C3.3335%2017.5834%204.0835%2018.3334%205.00016%2018.3334H15.0002C15.9168%2018.3334%2016.6668%2017.5834%2016.6668%2016.6667V3.33341C16.6668%202.41675%2015.9168%201.66675%2015.0002%201.66675ZM5.00016%203.33341H9.16683V10.0001L7.0835%208.75008L5.00016%2010.0001V3.33341Z%22%20fill%3D%22rgb%280%2C0%2C0%29%22%2F%3E%20%3C%2Fsvg%3E);
        -webkit-mask-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22%22%3E%20%3Cpath%20d%3D%22M15.0002%201.66675H5.00016C4.0835%201.66675%203.3335%202.41675%203.3335%203.33341V16.6667C3.3335%2017.5834%204.0835%2018.3334%205.00016%2018.3334H15.0002C15.9168%2018.3334%2016.6668%2017.5834%2016.6668%2016.6667V3.33341C16.6668%202.41675%2015.9168%201.66675%2015.0002%201.66675ZM5.00016%203.33341H9.16683V10.0001L7.0835%208.75008L5.00016%2010.0001V3.33341Z%22%20fill%3D%22rgb%280%2C0%2C0%29%22%2F%3E%20%3C%2Fsvg%3E); }
      .navigation__item-icon--wishlist {
        mask-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22%22%3E%20%3Cpath%20d%3D%22M9.99984%2017.7917L8.7915%2016.6917C4.49984%2012.8%201.6665%2010.2333%201.6665%207.08333C1.6665%204.51667%203.68317%202.5%206.24984%202.5C7.69984%202.5%209.0915%203.175%209.99984%204.24167C10.9082%203.175%2012.2998%202.5%2013.7498%202.5C16.3165%202.5%2018.3332%204.51667%2018.3332%207.08333C18.3332%2010.2333%2015.4998%2012.8%2011.2082%2016.7L9.99984%2017.7917Z%22%20fill%3D%22rgb%280%2C0%2C0%29%22%2F%3E%20%3C%2Fsvg%3E);
        -webkit-mask-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22%22%3E%20%3Cpath%20d%3D%22M9.99984%2017.7917L8.7915%2016.6917C4.49984%2012.8%201.6665%2010.2333%201.6665%207.08333C1.6665%204.51667%203.68317%202.5%206.24984%202.5C7.69984%202.5%209.0915%203.175%209.99984%204.24167C10.9082%203.175%2012.2998%202.5%2013.7498%202.5C16.3165%202.5%2018.3332%204.51667%2018.3332%207.08333C18.3332%2010.2333%2015.4998%2012.8%2011.2082%2016.7L9.99984%2017.7917Z%22%20fill%3D%22rgb%280%2C0%2C0%29%22%2F%3E%20%3C%2Fsvg%3E); }
      .navigation__item-icon--history {
        mask-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22%22%3E%20%3Cpath%20d%3D%22M10.8335%202.5C6.69183%202.5%203.3335%205.85833%203.3335%2010H0.833496L4.07516%2013.2417L4.1335%2013.3583L7.50016%2010H5.00016C5.00016%206.775%207.6085%204.16667%2010.8335%204.16667C14.0585%204.16667%2016.6668%206.775%2016.6668%2010C16.6668%2013.225%2014.0585%2015.8333%2010.8335%2015.8333C9.22516%2015.8333%207.76683%2015.175%206.71683%2014.1167L5.5335%2015.3C6.89183%2016.6583%208.7585%2017.5%2010.8335%2017.5C14.9752%2017.5%2018.3335%2014.1417%2018.3335%2010C18.3335%205.85833%2014.9752%202.5%2010.8335%202.5ZM10.0002%206.66667V10.8333L13.5668%2012.95L14.1668%2011.9417L11.2502%2010.2083V6.66667H10.0002Z%22%20fill%3D%22rgb%280%2C0%2C0%29%22%2F%3E%20%3C%2Fsvg%3E);
        -webkit-mask-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22%22%3E%20%3Cpath%20d%3D%22M10.8335%202.5C6.69183%202.5%203.3335%205.85833%203.3335%2010H0.833496L4.07516%2013.2417L4.1335%2013.3583L7.50016%2010H5.00016C5.00016%206.775%207.6085%204.16667%2010.8335%204.16667C14.0585%204.16667%2016.6668%206.775%2016.6668%2010C16.6668%2013.225%2014.0585%2015.8333%2010.8335%2015.8333C9.22516%2015.8333%207.76683%2015.175%206.71683%2014.1167L5.5335%2015.3C6.89183%2016.6583%208.7585%2017.5%2010.8335%2017.5C14.9752%2017.5%2018.3335%2014.1417%2018.3335%2010C18.3335%205.85833%2014.9752%202.5%2010.8335%202.5ZM10.0002%206.66667V10.8333L13.5668%2012.95L14.1668%2011.9417L11.2502%2010.2083V6.66667H10.0002Z%22%20fill%3D%22rgb%280%2C0%2C0%29%22%2F%3E%20%3C%2Fsvg%3E); }
    .navigation__item-secondary {
      margin-right: 16px;
      padding-left: 36px;
      cursor: pointer;
      min-height: 32px;
      max-height: 32px;
      display: flex;
      align-items: center;
      color: #050237; }
      .navigation__item-secondary:hover, .navigation__item-secondary.active {
        background: #EBEEF7;
        color: #4568FB; }
      .navigation__item-secondary.active {
        cursor: unset; }