._search-block {
    &__image-container {
        &-image {
            padding: 2px;
            width: 80px;
            height: 100px;
        }
    }
    
    &__text {
        &-title{
            font-size: 20px;
            padding: 0px;
            margin: 0px;
        }
        &-isbn{
            font-size: 11px;
            padding: 0px;
            margin: 0px;
        }
        &-other {
            font-size: 14px;
            padding: 1px;
            margin: 2px 0px;
        } 
    }
    background-color: #F4F5F7;
    padding: 0px;
    margin: 0px;
    height: 104px;
    border: 1.5px solid black;
    border-collapse: collapse;
    display: flex;
    flex-direction: row;

    &:hover {
        background-color: #E8E9ED;
    }
    
}

.selected {
    color: $color-blue;
    background-color: $color-background-selected;
}