<div class="header">
    <div class="search">
        <i class="search__icon"></i>
        <input class="search__input" placeholder="Search books"/>
        <ul class="suggestions hidden">
            <li><a class="suggestions__item" href="/library/details">
                <div class="suggestions__image">
                    <img src="/Content/Images/book_cover_1.jpg">
                </div>
                <div class="suggestions__text">
                    <span class="suggestions__text--primary">Book Title 1 Book Title 1 Book Title 1 Book Title 1 Book Title 1 Book Title 1 Book Title 1 Book Title 1 Book Title 1 Book Title 1 Book Title 1 Book Title 1</span>
                    <span class="suggestions__text--secondary">Author Name</span>
                </div>
            </a>
            </li>
            <li><a class="suggestions__item" href="/library/details">
                <div class="suggestions__image">
                    <img src="/Content/Images/book_cover_2.jpg">
                </div>
                <div class="suggestions__text">
                    <span>Book Title 2</span>
                    <span class="suggestions__text--secondary">Author Name</span>
                </div>
            </a>
            </li>
            <li><a class="suggestions__item" href="/library/details">
                <div class="suggestions__image">
                    <img src="/Content/Images/book_cover_3.jpg">
                </div>
                <div class="suggestions__text">
                    <span>Book Title 3</span>
                    <span class="suggestions__text--secondary">Author Name</span>
                </div>
            </a>
            </li>
            <li><a class="suggestions__item" href="/library/details">
                <div class="suggestions__image">
                    <img src="/Content/Images/book_cover_4.jpg">
                </div>
                <div class="suggestions__text">
                    <span>Book Title 4</span>
                    <span class="suggestions__text--secondary">Author Name</span>
                </div>
            </a>
            </li>
        </ul>
    </div>

</div>