<div class="sidebar">
    <div class="sidebar__header">
        <img class="sidebar__logo" src="/Content/Images/logo.svg">
    </div>
    <div class="sidebar__content">
        <div class="user-info">
            <div class="user-info__image">
                <img src="/Content/Images/avatar.png">
            </div>
            <h2 class="user-info__greeting">Hello, Nathan!</h2>
            <h5 class="text-secondary">email@email.com</h5>
            <h5 class="text-secondary">Kaunas office</h5>
        </div>
        <ul class="navigation">
            <li>
                <a class="navigation__item" href="/dashboard" id="dashboard">
                    <div class="navigation__item-header">
                        <i class="navigation__item-icon navigation__item-icon--dashboard"></i>
                        Dashboard
                    </div>
                </a>
            </li>
            <li>
                <a class="navigation__item" href="/library" id="library">
                    <div class="navigation__item-header">
                        <i class="navigation__item-icon navigation__item-icon--library"></i>
                        Library
                    </div>

                    <ul class="navigation__item-content">
                        <li class="navigation__item-secondary active">All books</li>
                        <li class="navigation__item-secondary">Zanras 1</li>
                        <li class="navigation__item-secondary">Zanras 2</li>
                    </ul>
                </a>
            </li>

            <li>
                <a class="navigation__item" href="/wishlist" id="wishlist">
                    <div class="navigation__item-header">
                        <i class="navigation__item-icon navigation__item-icon--wishlist"></i>
                        Wishlist
                    </div>
                </a>
            </li>
            <li>
                <a class="navigation__item" href="/reservations" id="reservations">
                    <div class="navigation__item-header">
                        <i class="navigation__item-icon navigation__item-icon--history"></i>
                        My reservations
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>