<div class="spinner">
    <div class="spinner__bookshelf_wrapper">
        <ul class="spinner__books_list">
            <li class="spinner__book_item first"></li>
            <li class="spinner__book_item second"></li>
            <li class="spinner__book_item third"></li>
            <li class="spinner__book_item fourth"></li>
            <li class="spinner__book_item fifth"></li>
            <li class="spinner__book_item sixth"></li>
        </ul>
        <div class="spinner__shelf"></div>
    </div>
</div>