.form {
  display: flex;
  flex-direction: column;
  max-width: base(68.75);
  min-width: base(50);

  textarea {
    min-width: 100%;
    max-width: 100%;
  }

  &__field {
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
      color: $color-text-secondary;
      text-transform: uppercase;
      margin-bottom: base(2);
    }

    margin-bottom: base(3);

    &:last-child {
      margin-bottom: 0;
    }

    .error {
      color: $color-red;
      display: none;
    }

    &--error {
      input {
        border-color: $color-red;
      }

      .error {
        display: unset;
      }
    }
  }

  &__group-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: baseline;

    label {
      width: 100%;
      margin-right: base();
    }
  }

  button[type=submit] {
    margin-bottom: base(4);
  }

  &__input {
    position: relative;

    input[type=radio], input[type=checkbox] {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
      min-width: unset;
      min-height: unset;
      max-width: unset;
      max-height: unset;
    }
  }

  @mixin checkRadio($type) {
    $types: (
            "radio" : ("checked": radio_checked, "unchecked": radio_unchecked),
            "checkbox" : ("checked": check_box, "unchecked": check_box_blank)
    );

    $icons: map-get($types, $type);

    cursor: pointer;
    user-select: none;
    padding-left: base(4);
    display: flex;
    max-height: base(2.5);
    justify-content: flex-start;
    align-items: center;

    input:checked ~ .fake {
      background-color: $color-blue;
      mask-image: sassvg(map-get($icons, "checked"));
    }

    &:hover {
      .fake {
        background-color: $color-blue;
      }
    }

    .fake {
      position: absolute;
      width: base(2);
      height: base(2);
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      background-color: $color-text;

      mask-position: 50% 50%;
      mask-image: sassvg(map-get($icons, "unchecked"));
    }
  }

  &__radio {
    @include checkRadio(radio);
  }

  &__checkbox {
    @include checkRadio(checkbox);

    .fake {
      background-color: $color-background-secondary;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    padding: base(2) 0;

    .btn {
      margin-right: base();
      margin-bottom: 0 !important;
    }
  }
}