.panel {
  $panel-sizes: 2, 3, 4, 5, 6, 7, 8;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: stretch;

  @each $size in $panel-sizes {
    &--size-#{$size} {
      display: flex;
      flex-grow: $size;
    }
  }

  &__header {
    @include heading-style(h1);
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  &__content {

    &.full-width {
      width: 100%;
    }
  }

  &__tabs {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: solid 1px $color-border;
    margin-bottom: base(3);

    a {
      font-weight: normal;
      font-style: normal;
      font-size: base(1.5);
      padding: base();
      margin-bottom: -1px;
      margin-right: base(4);

      &.active,
      &:hover {
        border-bottom: solid 2px $color-blue;
        font-weight: bold;
      }
    }

  }
}