@import "../svg/sassvg-data";

.sidebar {
  margin: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: $sidebar-width;
  box-shadow: inset -1px 0px 0px $color-book-shadow;
  justify-content: space-between;

  &__content {
    width: 100%;
    overflow: hidden auto;
  }

  &__header {
    width: 100%;
    height: $header-height;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    padding: base(2);

    .btn:first-child {
      margin-bottom: base();
    }
  }

  &__logo {
    @include sassvg("logo", $color: white, $fillcolor: #EE3D57);
    padding: base(2);
    margin: base(2);
  }
}

.user-info {
  margin: 0 base(2) base(4);

  display: flex;
  position: sticky;
  top: 0;
  flex-direction: column;
  justify-content: left;
  background-color: $color-background;
  z-index: 10;

  &__greeting {
    margin-top: base(2);
    margin-bottom: $base / 2;
  }
}

.user__image {
  border-radius: 50%;
  overflow: hidden;
  @include minMax(7, 7);

  &--big {
    @include minMax(14, 14);
  }

  &--small {
    @include minMax(4.5, 4.5);
  }

  &--mini {
    @include minMax(3, 3);
  }
}

.navigation {
  $this: &;
  $nav-icons: 'dashboard', 'library', 'wishlist', 'history';

  @include no-list-style();
  @include heading-style(h4);
  display: flex;
  flex-direction: column;
  width: 100%;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    padding: 0 base(2);
    min-height: base(5.5);
    transition: background-color .25s, box-shadow .25s;

    &:hover, &.active {
      background-color: $color-background-selected;
      color: $color-blue;
      box-shadow: inset -2px 0px 0px $color-blue;

      #{$this}__item-icon {
        background-color: $color-blue;
      }
    }

    &.active {
      cursor: unset;
    }
  }

  &__item-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: base(5.5);
    transition: color .25s;
  }

  &__item-content {
    @include no-list-style();
    display: flex;
    min-height: 0;
    max-height: 0;
    height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    padding: 0 base(2);
    background: $color-background-selected;
    color: $color-blue;
    box-shadow: inset -2px 0px 0px $color-blue;
    transition: max-height .25s, padding .25s;

    .active + &{
      max-height: base(100);
      height: auto;
      padding: base(2);
    }
  }

  &__item-icon {
    margin-right: base(2);
    width: 20px;
    height: 20px;

    mask-position: 50% 50%;
    background-color: $color-text;

    transition: background-color .25s;

    @each $icon in $nav-icons {
      &--#{$icon} {
        mask-image: sassvg($icon);
      }
    }
  }

  &__item-split {
    border-bottom: solid 1px $color-border;
    margin: base() base(2) base() base(2) + 20px;
  }

  &__item-secondary {
    margin-right: base(2);
    padding-left: base(2) + 20px;
    cursor: pointer;
    min-height: base(4);
    max-height: base(4);
    display: flex;
    align-items: center;
    color: $color-text;

    &:hover, &.active {
      background: $color-background-selected;
      color: $color-blue;
    }

    &.active {
      cursor: unset;
    }
  }
}